.acknowledgements
{
    margin-top: 275px;
}
.acknowledgements-title
{
    font-size: 20px;
} 
.jumbotron
{
    background: linear-gradient(to right top, #4cbcd3, #89d3e2);
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    background: linear-gradient(to right top,#a2cc6d,#c6e0a6);
}
.display {
    background-color: black;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.game-button
{
	width: 200px;
	height: 200px;
	border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}
.game-row
{
    padding: 5px;
}
.medium-font {
    font-size: 18px;
}
.pixelated-font
{
    font-family: 'VT323', monospace;
}
.underlined {
    text-decoration: underline;
}
.welcome-title
{
    font-size: 60x;
    font-weight: 600;
}
.white-text
{
    color: white;
}