h1 {
	color: black;
	border: 12px solid beige;
	font-size: 100px;
	font-family: Arial;
	padding:10px;
	text-align:center;
	
}


#guess_rgb_game_link {  /*css for guess guess*/
	color: black;
	font-size: 170px;
	font-family: Arial;
	margin-top: 300px;
	margin-bottom: 300px;
	margin-right: 400px;
	margin-left: 400px;
	

}
